.preview-container {
  display: flex;
  flex-direction: column;
}

.preview-field {
  margin-bottom: 10px;
}

.preview-field label {
  font-weight: bold;
  margin-right: 5px;
}

.availability-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.availability-item > div {
  margin-right: 10px;
}

.navigation-btn {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
  padding-top: calc(5 * var(--spacing));
}
