
.facility-wizard {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

.steps {
  margin-top: 1.25rem;
}


.sections {
  min-height: 75vh;
  padding: 2.5rem;
}
