@import "primeicons/primeicons.css";
@import "./theme/themes/default.css";
@import "./theme/forms.css";

body {
  background-color: var(--background-color);
  color: var(--body-text-color)
}

.clickable:hover {
  cursor: pointer;
}
