.navigation-btn {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
  padding-top: calc(5 * var(--spacing));
}

.expand {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.scroller-item {
  margin: calc(2.5 * var(--spacing));
  padding: calc(2.5 * var(--spacing));
  border-radius: var(--spacing);
}

.scroller-item:hover {
  cursor: pointer;
}

.scroller-item:hover:not(.selected) {
  background-color: var(--background-color);
}

.facility-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.alert-icon {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}
