<p-steps [model]="steps" [(activeIndex)]="currentStep" [readonly]="true"></p-steps>

<div *ngIf="currentStep === 0">
    <h3>Step 1: General Information</h3>
    <div class="p-grid">
        <div class="p-col-12 p-md-6">
          <label for="displayName">Room Display Name</label>
          <input id="displayName" pInputText [(ngModel)]="roomData.displayName" />
        </div>
        <div class="p-col-12 p-md-6">
          <label for="description">Description</label>
          <textarea id="description" [(ngModel)]="roomData.description"></textarea>
        </div>
      </div>

    <div class="form-group">
      <label for="location">Location</label>
      <input id="location" pInputText [(ngModel)]="roomData.location" />
    </div>
  </div>

  <div *ngIf="currentStep === 1">
    <h3>Step 2: Capacity and Features</h3>
    <div class="form-group">
      <label for="capacity">Capacity</label>
      <input type="number" id="capacity" pInputText [(ngModel)]="roomData.capacity" />
    </div>

    <div class="form-group">
      <label for="mayExceedCapacity">May Exceed Capacity</label>
      <p-checkbox id="mayExceedCapacity" binary="true" [(ngModel)]="roomData.mayExceedCapacity"></p-checkbox>
    </div>

    <div class="form-group">
      <label for="mergeAble">Mergeable</label>
      <p-checkbox id="mergeAble" binary="true" [(ngModel)]="roomData.mergeAble"></p-checkbox>
    </div>
  </div>

  @defer (when currentStep === 2; prefetch on idle) {
    @if (currentStep === 2) {
      <app-room-wizard-facility [(room)]="roomData" (prev)="prevStep()" (next)="nextStep()" />
    }
  }

  <div *ngIf="currentStep === 3">
    <!-- Step 4: Summary -->
    <h3>Step 4: Summary</h3>
    <pre>{{ roomData | json }}</pre>
    <button (click)="submitRoom()" *ngIf="currentStep === steps.length - 1">Submit</button>

  </div>


<button (click)="prevStep()" [disabled]="currentStep === 0">Back</button>
<button (click)="nextStep()" [disabled]="currentStep === steps.length - 1">Next</button>
