<div *transloco="let t; prefix:'management.configuration.menu.home'">
  <p-card [header]="t('title')">

    <p>{{t('description')}}</p>

    <div class="recommendations-grid">

      @if (!hasAnyRooms) {
        <div class="recommendation">
          {{t('recommendations.rooms')}}
          <span class="clickable" (click)="changeMenuTab.emit(ConfigurationId.Rooms)">{{t('recommendations.here')}}</span>
          !
        </div>
      }

      @if (!hasAnyFacilities) {
        <div class="recommendation">
          {{t('recommendations.facilities')}}
          <span class="clickable" (click)="changeMenuTab.emit(ConfigurationId.Facilities)">{{t('recommendations.here')}}</span>
          !
        </div>
      }

    </div>

    <app-agora-button type="secondary" [routerLink]="'/management/dashboard'">
      {{t('dashboard')}}
    </app-agora-button>

  </p-card>



</div>
