<div *transloco="let t; prefix:'management.configuration'" class="configuration">

  <p-menu [model]="items" styleClass="menu">

    <ng-template #start>
      <div class="menu-start-div">
        <div (click)="setSelectedCommand(undefined)()" class="menu-start">
          <span class="pi pi-thumbtack"></span>
          <span>{{ t('menu.home.label') }}</span>
        </div>
      </div>
    </ng-template>

    <ng-template #submenuheader let-item>
      <span class="menu-header">{{ t('menu.' + item.label + '.label') }}</span>
    </ng-template>

    <ng-template #item let-item>
      <a pRipple class="p-menu-item-link menu-item">
        <span [class]="item.icon"></span>
        <span class="">{{ t('menu.' + item.label + '.label') }}</span>
      </a>
    </ng-template>

  </p-menu>

  <div class="configuration-content">

    @defer (when selected == undefined; prefetch on idle) {
      @if (selected == undefined) {
        <p-card *transloco="let t;" [header]="t('management.configuration.menu.home.title')">{{t('shared.lorum-ipsum')}}</p-card>
      }
    }

    @defer (when selected == ConfigurationId.Rooms; prefetch on idle) {
      @if (selected == ConfigurationId.Rooms) {
        <span>Rooms</span>
      }
    }

    @defer (when selected == ConfigurationId.Facilities; prefetch on idle) {
      @if (selected == ConfigurationId.Facilities) {
        <span>Facilities</span>
      }
    }

    @defer (when selected == ConfigurationId.BrandingThemes; prefetch on idle) {
      @if (selected == ConfigurationId.BrandingThemes) {
        <app-theme-configuration />
      }
    }

    @defer (when selected == ConfigurationId.BrandingLogo; prefetch on idle) {
      @if (selected == ConfigurationId.BrandingLogo) {
        <span>Logo</span>
      }
    }

  </div>

</div>
