
.configuration {
  display: flex;
  flex-direction: row;
  padding: calc(var(--spacing) * 10);
}

.menu {
  display: flex;
  justify-content: center;
  width: calc(var(--spacing) * 20);
}

.menu-start-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.menu-start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-top: calc(var(--spacing) * 1);
  padding: calc(var(--spacing) * 2);
  border-radius: calc(var(--spacing) * 1);
}

.menu-start:hover {
  cursor: pointer;
  background-color: var(--background-color);
}

.menu-start > span {
  margin: 0 calc(var(--spacing) * 2);
}

.menu-header {
  font-weight: bold;
  text-align: left;
}

.menu-header-icon {
  margin: 0 var(--spacing);
}

.menu-item {

}

.configuration-content {
  display: flex;
  flex-grow: 1;
  margin: 0 calc(var(--spacing) * 5);
}
