@import '../../../shared/management-wizard.css';

.lines {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.lines > p-fieldset {
  margin-top: calc(5 * var(--spacing));
  width: 100%;
}
