.navigation-btn {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
  padding-top: calc(5 * var(--spacing));
}

.new-btn {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: end;
  padding-top: calc(5 * var(--spacing));
}
