
.facility-preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: calc(2*var(--spacing));
  border-bottom: 1px solid var(--primary-color);
}

.facility-preview-holder {
  margin-top: var(--spacing);
}

.navigation-btn {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
  padding-top: calc(5 * var(--spacing));
}
