
@import '../../../shared/management-wizard.css';

.facility-preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: calc(2*var(--spacing));
  border-bottom: 1px solid var(--primary-color);
}

.facility-preview-holder {
  margin-top: var(--spacing);
}
