
<div *transloco="let t; prefix:'management.configuration.branding.themes'">
  <div class="theme-config-container">
    <p-card [header]="t('header')">

      <p>{{t('description.p1')}}</p>
      <p>{{t('description.p2')}}</p>
    </p-card>
  </div>

  <p-fileupload #themeUploader name="file" [customUpload]="true"
                [url]="baseUrl+'/upload'" (uploadHandler)="uploadTheme($event)"
                [multiple]="false" accept=".css" maxFileSize="1000000" mode="advanced">
    <ng-template #empty>
      <div>{{t('actions.upload.empty')}}</div>
    </ng-template>
  </p-fileupload>

  <cdk-virtual-scroll-viewport itemSize="50" style="height: 400px">
    <div class="theme-container" *cdkVirtualFor="let theme of themes;">
      <div class="information">
        <span class="theme-name">{{theme.name | titlecase}}</span>
      </div>
      <div class="badges">

        @if (theme.themeProvider !== Provider.System) {
          <p-tag [value]="t('actions.delete.label')" styleClass="clickable" severity="danger"
                 (click)="deleteTheme(theme)"/>
        }

        @if (theme.default) {
          <p-tag [value]="t('actions.is-default.label')" severity="info"/>
        } @else {
          <p-tag [value]="t('actions.set-default.label')" styleClass="clickable" severity="info"
                 (click)="setDefaultTheme(theme)"/>
        }

        <p-tag [value]="theme.themeProvider | provider | titlecase" />
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
