@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root, :root .default {
  --background-color: #F5F3F5;

  --error-color: #BD362F;
  --warning-color: #FFECB5;

  --primary-color: #274690;
  --primary-color-dark-shade: #1F3A75;
  --primary-color-darker-shade: #182D5A;
  --primary-color-darkest-shade: #101F3F;

  --secundairy-color: #576CA8;
  --body-text-color: #302B27;
  --secondary-text-color: #F5F3F5;
  --primary-color-text: #F5F3F5;
  --text-color-secondary: #6c757d;

  /* Surface colors */
  --surface-card: #ffffff;
  --surface-hover: #f0f0f0;
  --surface-border: #dee2e6;

  --title-font-size: 2rem;
  --subtitle-font-size: 1rem;

  --spacing: 0.25rem;
    font-family: "Spectral", serif;
}

.title {
  color: var(--body-text-color);
  font-size: var(--title-font-size);
  box-shadow: var(--primary-color-darker-shade);
}

a:hover {
  color: var(--secundairy-color);
  cursor: pointer;
}
