
<p-card [header]="t('header')" *transloco="let t;prefix:'user.wizard.meeting.general'">

  <div class="wizard-form-container">

    <div class="wizard-form-field">
      <label for="title">{{t('title')}}</label>
      <input type="text" id="title" [(ngModel)]="meeting.title" pInputText>
      <div class="wizard-help-text">{{t('title_help')}}</div>
    </div>

    <div class="wizard-form-field">
      <label for="desc">{{t('desc')}}</label>
      <textarea id="desc" [(ngModel)]="meeting.description" pTextarea rows="5"></textarea>
      <div class="wizard-help-text">{{t('desc_help')}}</div>
    </div>

  </div>

  <div class="wizard-navigation-btn single">
    <app-agora-button type="primary" (onClick)="continue()">{{t('next')}}</app-agora-button>
  </div>

</p-card>
