
.caption {
  display: flex;
  flex-grow: 1;
  justify-content: end;
}

.facilities-config-container {
  width: 100%;
  margin-bottom: var(--spacing) !important;
}

.actions {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding: calc(1.5 * var(--spacing));
}

.actions > app-agora-button {
  margin-left: var(--spacing);
}

.action-toggle {
  display: flex;
  align-items: center;
}
