
.first-setup-form {
  padding-top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-setup-form p-card {
  max-width: 35vw;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
}

.form-member {
  margin-top: calc(var(--spacing) * 5);
}

.form-input {
  width: calc(var(--spacing) * 72);
}
