
<p-toast/>

<div class="first-setup-form" *transloco="let t; prefix: 'first-setup'">

  <p-card>
    <p class="title">{{t('title')}}</p>
    <p>
      {{t('description.p1')}}
      <a [href]="SSO_PROVIDER" target="_blank">{{t('description.docs-link')}}</a>
      {{t('description.p2')}}
    </p>

    <div class="form">

      <p-floatlabel class="form-member" variant="on">
        <p-iconfield>
          <p-inputicon class="pi pi-link" />
          <input pInputText id="authority" class="form-input" [(ngModel)]="model.authority" autocomplete="off" >
        </p-iconfield>
        <label for="authority">{{t('authority')}}</label>
      </p-floatlabel>

      <p-select [placeholder]="t('provider')" [options]="providerOptions" [(ngModel)]="model.provider"
                class="form-input form-member" />

      <div class="form-member">
        <app-agora-button *transloco="let t" (onClick)="submit()">
          {{t('shared.forms.submit', { scope: '' })}}
        </app-agora-button>
      </div>

    </div>

  </p-card>

</div>
